extends layout

block content
  h1 Ingredient Details - #{ingredient.name}
  
  if ingredient.category
    p #[strong Category:] #{ingredient.category}
  if ingredient.taste
    p #[strong Taste:] #{ingredient.taste}
  if ingredient.season
    p #[strong Season:] #{ingredient.season}
  if ingredient.techniques
    p #[strong Techniques:]&nbsp;
      each val in ingredient.techniques
        p #{val}
        |, 
  
  div(style='margin-left:20px;margin-top:20px')
    h4 Pairings
    
    if ingredient.pairings
      each val in ingredient.pairings
        a(href=val.url) #{val.name}
        br
   
      else
        p There are pairings for that ingredient.
    else
      p There is no ingredient by that name