extends layout

block content
  - console.log('ingredient: ', ingredient)
  h1 Ingredient Details - #{ingredient.name}
  
  if ingredient.category
    p #[strong Category:] #{ingredient.category}
  if ingredient.taste
    p #[strong Taste:] #{ingredient.taste}
  if ingredient.season
    p #[strong Season:] #{ingredient.season}
  if ingredient.techniques
    p #[strong Techniques:]&nbsp;
      each val in ingredient.techniques
        p #{val}
        |, 
  
  div(style='margin-left:20px;margin-top:20px')
    h4 Pairings
    
    if ingredient.pairings
      each val in ingredient.pairings
        if val.deadLink
          span #{val.pairing}
          br
        else
          - let ingredient_url = '/catalog/ingredient/' + val.pairing;
          if val.strength
            if val.strength == 1
              a(href=ingredient_url)
                strong #{val.pairing}
              br
            else if val.strength == 2
              a(href=ingredient_url)
                - let pairingString = val.pairing.toUpperCase() 
                strong #{pairingString}
              br
          else
            a(href=ingredient_url) #{val.pairing}
            br
   
      else
        p There are pairings for that ingredient.
    else
      p There is no ingredient by that name